<h1>Friends</h1>

<table class="table table-light" id="friends">
 <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th> 
      <th scope="col">Twitter</th> 
      <th scope="col">User ID</th> 
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
      <%= render friend %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class: 'btn btn-primary' %>
